astropy==6.1.4
astropy-iers-data==0.2024.9.30.0.32.59
astroquery==0.4.8.dev9474
beautifulsoup4==4.13.0b2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cryptography==43.0.1
html5lib==1.1
idna==3.10
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.8.0
keyring==25.4.1
more-itertools==10.5.0
numpy==2.1.1
packaging==24.1
pycparser==2.22
pyerfa==2.0.1.4
pyvo==1.5.2
PyYAML==6.0.2
requests==2.32.3
SecretStorage==3.3.3
six==1.16.0
soupsieve==2.6
typing_extensions==4.12.2
urllib3==2.2.3
webencodings==0.5.1
